# TASCA M2 T01

# Ejercicio 1

Crea una lista que agrupe los meses del año en trimestres (1T: enero, febrero y marzo; 2T: abril, mayo, junio...), es decir, una lista con 4 listas dentro

In [243]:
año = [
    ['enero', 'febrero', 'marzo'], 
    ['abril', 'mayo', 'junio'], 
    ['julio', 'agosto', 'septiembre'], 
    ['octubre', 'noviembre', 'dicciembre']
]
# En este caso la lista año es una lista anidada, que contiene 4 listas

In [244]:
type (año)

list

In [245]:
print (año)

[['enero', 'febrero', 'marzo'], ['abril', 'mayo', 'junio'], ['julio', 'agosto', 'septiembre'], ['octubre', 'noviembre', 'dicciembre']]

In [246]:
# Para hacerlo como pide el enunciado, creo una lista diferente para cada trimestre.
T1 = ['enero', 'febrero', 'marzo']
T2 = ['abril', 'mayo', 'junio']
T3 = ['julio', 'agosto', 'septiembre']
T4 = ['octubre', 'noviembre', 'dicciembre']

In [247]:
Taño0 = [T1 + T2 + T3 + T4]

print (Taño0)
# Si uno las 4 listas con el signo más +, me da una sola lista de 12 elementos, que no es lo que busco.

[['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'dicciembre']]

In [248]:
Taño1 = [T1, T2, T3, T4]

print (Taño1)
# Si uno las listas por medio de comas, me da la lista anidada que busco, conteniendo las 4 listas.

[['enero', 'febrero', 'marzo'], ['abril', 'mayo', 'junio'], ['julio', 'agosto', 'septiembre'], ['octubre', 'noviembre', 'dicciembre']]

# Ejercicio 2

Crea un código que te permita acceder a: 
- El segundo mes del primer trimestre. 
- Los meses del primer trimestre. 
- Septiembre y octubre.

In [249]:
# Acceder al segundo mes del primer trimestre.
A = Taño1 [2][1]
print (A)

agosto

In [250]:
# Acceder a los meses del primer trimestre. Hay dos formas:

B = Taño1 [0][0:3]
print (B)

C = Taño1 [0]
print (C)

['enero', 'febrero', 'marzo']
['enero', 'febrero', 'marzo']

In [251]:
# Acceder a septiembre y octubre.
# Puedo acceder por trimestres, pero me temo que no es lo que pretende el ejercicio. 
# Creo que pretende que se haga mediante bucles
D = T3 [2], T4[0]
print (D)

('septiembre', 'octubre')

In [252]:
# Acceder a septiembre y octubre. 
F = Taño1 [2][2], [3][0]
print (F)  
# Esto no funciona, no sé por qué, ni tampoco entiendo el resultado que me ofrece

('septiembre', 3)

In [253]:
# Acceder a septiembre y octubre mediante bucles:

Dosmeses = []

for x in Taño1:
  if "septiembre" in x:
    Dosmeses.append(x [2])
for y in Taño1:
  if "octubre" in y:
    Dosmeses.append(y [0])

print(Dosmeses)

['septiembre', 'octubre']

# Ejercicio 3

Crea una lista con números desordenados y responde a las siguientes preguntas: 
- ¿Cuántos números hay? 
- Cuántas veces aparece el número 3. 
- ¿Cuántas veces aparecen los números 3 y 4? 
- ¿Cuál es el mayor número? o ¿Cuáles son los 3 números más pequeños? 
- ¿Cuál es el rango de esa lista?

In [254]:
# Crea una lista con números desordenados
Num = [6, 10, 13, 1, 20, 3, 11, 7, 4, 3, 0, 25, 6, 13, 9, 15, 32, 12, 26]
type (Num)

list

In [255]:
# ¿Cuántos números hay?
len (Num)

19

In [256]:
# ¿Cuántas veces aparece el número 3?
Num.count (3)

2

In [257]:
# ¿Cuántas veces aparecen los números 3 y 4?
Num.count (3) + Num.count (4)

3

In [258]:
# ¿Cuál es el mayor número?
max (Num)

32

In [259]:
# ¿Cuáles son los 3 números más pequeños?
# Primero ordeno la lista de menor a mayar con .sort ()
Num.sort()
print (Num)

# Depués le pido los tres primeros
print (Num [0:3])

[0, 1, 3, 3, 4, 6, 6, 7, 9, 10, 11, 12, 13, 13, 15, 20, 25, 26, 32]
[0, 1, 3]

# Ejercicio 4

Crea un diccionario de la siguiente forma y responde a las preguntas: 

compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} } 
- Añade alguna fruta más 
- ¿Cuánto han costado las peras en total? 
- ¿Cuántas frutas hemos comprado en total? Usar loops 
- ¿Cuál es la fruta más cara? Usar loops 

Objetivos 
- Creación y acceso a listas en python. 
- Creación y acceso a tuplas en python. 
- Uso de los métodos python. 
- Creación y acceso a sets y diccionarios en python. 

Duración: 2 días 

Entrega: 

Enviar la URL de tu repositorio en donde se encuentre la solución en un notebook con las celdas ejecutadas.

In [294]:
# Crear diccionario compra:
# En este diccionario cada fruta es una clave en el diccionario, 
# y el valor asociado a cada clave es otro diccionario que contiene la cantidad (Qty) y el precio (€) de esa fruta.

compra = { 
    "Pomes" : {"Qty": 5, "€": 0.42}, 
    "Peres" : {"Qty": 3, "€": 0.66} 
}
type (compra)

dict

In [295]:
print (len(compra))

2

In [296]:
x = compra ["Pomes"]
print (x)

{'Qty': 5, '€': 0.42}

In [297]:
y = compra.get("Peres")
print (y)

{'Qty': 3, '€': 0.66}

In [298]:
z = compra.keys()
print (z)

dict_keys(['Pomes', 'Peres'])

__Añadir una fruta más, (de una en una)__

In [299]:
# Metodo 1.- introduciendo un nuevo par campo/valor mediante corchetes = valor.
compra = { 
    "Pomes" : {"Qty": 5, "€": 0.42}, 
    "Peres" : {"Qty": 3, "€": 0.66} 
}

compra["Fresas"] = {"Qty": 7, "€": 1.05}
print (compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Fresas': {'Qty': 7, '€': 1.05}}

In [300]:
# Método 2.- Mediante .update ( )
compra.update({"Piñas" : {'Qty': 2, '€': 0.60}})
print (compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Fresas': {'Qty': 7, '€': 1.05}, 'Piñas': {'Qty': 2, '€': 0.6}}

__Añadir más frutas, (varias frutas a la vez)__

In [301]:
mas_frutas = {
    "Melones" : {'Qty': 9, '€': 1.00}, 
    "Sandías" : {'Qty': 8, '€': 0.30}, 
    "Ciruela" : {'Qty': 20, '€': 1.60}
}

compra.update(mas_frutas)
print (compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Fresas': {'Qty': 7, '€': 1.05}, 'Piñas': {'Qty': 2, '€': 0.6}, 'Melones': {'Qty': 9, '€': 1.0}, 'Sandías': {'Qty': 8, '€': 0.3}, 'Ciruela': {'Qty': 20, '€': 1.6}}

__¿Cuánto han costado las peras en total?__

In [302]:
peras = compra["Peres"]

costo_total_peras = peras["Qty"] * peras["€"]

print("Las peras en total han costado:", costo_total_peras, "€")

Las peras en total han costado: 1.98 €

__¿Cuántas frutas hemos comprado en total? Usar loops__

In [306]:
# Inicializo una variable para llevar la cuenta total de frutas
total_frutas = 0

# Recorro el diccionario y en cada vuelta voy sumando las cantidades de frutas con el operador +=
for i, info in compra.items():
    total_frutas += info ["Qty"]

print ("Las frutas totales compradas son:", total_frutas, "frutas")

Las frutas totales compradas son: 54 frutas

__¿Cuál es la fruta más cara? Usar loops__

In [305]:
# compra = {'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Fresas': {'Qty': 7, '€': 1.05}, 'Piñas': {'Qty': 2, '€': 0.6}, 'Melones': {'Qty': 9, '€': 1.0}, 'Sandías': {'Qty': 8, '€': 0.3}, 'Ciruela': {'Qty': 20, '€': 1.6}}

# Inicializo dos variables para llevar un seguimiento de la fruta más cara y su de precio.

fruta_mas_cara = None
precio_mas_alto = 0

# Con el bucle for voy a recorrer cada tipo de fruta y sus datos asociados

for i, datos in compra.items():
    precio_fruta = datos['€']
    # con datos['€'] estoy extrayendo el precio de cada fruta y lo almanceno en precio_fruta
    if precio_fruta > precio_mas_alto:
        #En cada bucle me compara el precio de esa fruta con el precio más alto registrado hasta le momento
        precio_mas_alto = precio_fruta
        # Si ese precio de la fruta de esa vuelta supera el precio más alto hasta el momento, 
        # actualiza el precio_mas_alto con el nuevo precio, y fruta_mas_cara con el nombre de la de esa vuelta.
        fruta_mas_cara = i

print("La fruta más cara es:", fruta_mas_cara)

La fruta más cara es: Ciruela